.centeredimg{
  vertical-align:middle;
  margin-top: 2%;
  min-width:250px;
  min-height:250px;
  width:30%;
  height: auto;
  border-radius: 50%;
}

.gittitle{
	text-align:center;
	font-size:45px;
}

.gitname{
	text-align:center;
	font-size:35px;
}

.titlenameright{
		text-align:left;
		margin-left:5%;
		padding-top:1vw;
		font-size:55px;
		text-align:middle;
		margin-top:1vw;
	}
	
.titlenameleft{
		text-align:right;
		margin-right:5%;
		padding-top:1vw;
		font-size:55px;
		text-align:middle;
		margin-top:1vw;
	}
	
.descleft{
		text-align:right;
		margin-right:5%;
		font-size:33px;
	}
	
.descright{
		text-align:left;
		margin-left:5%;
		font-size:33px;
	}
	
	
.split {
	top:100vh;
}

.split2 {
	top:130vh;
}

#bio{
}

.left {
  float: left;
  width: 45%;
  height: 30vh;
  background-color: black;
}
.left2{
  float: left;
  width: 55%;
  height: 30vh;
  background-color: gray;
}

.right {
  float: right; 	
  width: 55%;
  height: 30vh;
  background-color: gray;
}

.right2 {
  float: right; 	
  width: 45%;
  height: 30vh;
  background-color: black;
}

body, html {
  font-family: Arial;
  color: white;
  height: 100%;
}

@media screen and (max-width: 600px){
	.gitname{
		font-size:15px;
	}
	.gittitle{
		font-size:25px
	}
	.titlenameright{
		font-size:25px;
	}
	
	.titlenameleft{
		font-size:25px;
	}
	
	.descleft{
		font-size:15px;
	}
	
	.descright{
		font-size:15px;
	}
	
	.centeredimg{
		min-width:140px;
		min-height:140px;
	}
	.left{
		height:20vh;
	}
	.left2{
		height:20vh;
	}
	.right{
		height:20vh;
	}
	.right2{
		height:20vh;
	}
}


.parallax{

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
  background-image: url("background.jpg");
  min-height:100%;
}

#parallax2 {
  background-image: url("gitlabbg.jpg");
  min-height: 160%;
}

#parallax3 {
  background-image: url("gitlabbg.jpg");
  min-height: 65%;
}
#parallax4 {
  background-image: url("background1.jpg");
  min-height:100%;

#navbar {
  overflow: hidden;
  z-index:1;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
html {
  scroll-behavior: smooth;
}

#projects{}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}